* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #344c36;
    height: 60px;
    position: absolute;
    width: 80%;
    border-radius: 30px;
    top: 20px;
}
.navigation-tabs {
    display: flex;
    gap: 20px;
}


header nav li {
    list-style: none;
}
nav .logo {
    font-size: 2rem;
    font-weight: bold;
}
nav li a {
    color: #fff;
    text-decoration: none;
}
nav li a:hover {
    color: rgb(255, 255, 0);
    text-decoration: underline;
}
.cta-btn li a {
    background-color: #fff;
    color: #344c36;
    border-radius: 30px;
    padding: 10px 20px;
    border: 2px solid #fff;
    font-size: 1rem;
}
.cta-btn li a:hover {
    background-color: #344c36;
    border: 2px solid #fff;
    color: #fff;
}

.hero-section {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.hero-section .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-section .left {
  width: 50%;
  padding: 70px;
}

.hero-section .right {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-section .right img {
  width: 100%;
  height: auto;
  max-width: 500px; /* optional limit */
  border-radius: 12px; /* optional for style */
  object-fit: contain;
}

.hero-cta-btn {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.hero-cta-btn li a {
  text-decoration: none;
  background: #344c36;
  color: #fff;
  border: 2px solid #344c36;
  padding: 10px 18px;
  border-radius: 6px;
  transition: 0.3s;
}

.hero-cta-btn li a:hover {
  color: #344c36;
  background-color: #fff;
  border: 2px solid #344c36;
}
.content .left .hero-cta-btn li {
    list-style: none;
}
.content span {
    font-size: 3rem;
}
.content .hero-text1 {
    padding: 5px;
    border: 2px solid #344c36;
}
.content {
    line-height: 1.6;
}
.hero-text2 {
    font-size: 3rem;
    color: #1a1a1a;
}
.anim-text {
    color: rgb(255, 102, 0);
    text-decoration: underline;
}

.content .left .hero-cta-btn li a{
    text-decoration: none;
}
.ribbon .container {
    background-color: rgb(255, 102, 0);
    width: 100%;
    height: 15vh;
}

.ribbon .container, .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ribbon .content {
    gap: 100px;
    color: #fff;
}

.intro {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.intro .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.intro .left {
  width: 50%;
  padding: 70px;
}

.intro .right {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 720px) {
    .navigation-tabs {
        display: none;
    }
    .hero-section .content {
        flex-direction: column;
        gap: 20px;
    }
    .hero-section {
        height: 100vh;
    }
    .content .left,.hero-cta-btn {
        justify-content: center;
        text-align: center;
    }
    .content span {
    font-size: 2rem;
    }
    .hero-text2 {
    font-size: 2rem;
    color: #1a1a1a;
    }
    .hero-section .content {
        padding-top: 50px;
    }
    .hero-section .left {
        width: 100%;
    }
    .hero-section .right {
        width: 100%;
    }


}
